* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: start;

    min-width: 10%;
    max-width: 30%;
}

.card {
    border: 5px solid #202020;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;

    background-color: #f0f0f0;
}

img {
    width: 100%;
    height: auto;

    object-fit: cover;
}