:root {
    color-scheme: light dark;
    --bg-color: light-dark(#f5f5f5, #222);
    --text-color: light-dark(#000, #b0b0b0);
    --accent-color: light-dark(#0066cc, #99ccff);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;

    background-color: var(--bg-color);
    color: var(--text-color);
}

a{
    color: var(--accent-color);
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: start;

    min-width: 10%;
    max-width: 30%;
}

.card {
    border: 5px solid #202020;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;

    background-color: #f0f0f0;
}

img {
    width: 100%;
    height: auto;

    object-fit: cover;
}